@font-face {
    font-family: "KGHAPPY";
    src: url(../fonts/kg_happy/KGHAPPY.ttf);
}

@font-face {
    font-family: "KGShadows";
    src: url(../fonts/kg_happy/KGHAPPYShadows.ttf);
}

@font-face {
    font-family: "KGSolid";
    src: url(../fonts/kg_happy/KGHAPPYSolid.ttf);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

:root{
    font-size: 10px;
    font-family: "KGSolid";
    --main-clr: #E21837;
}

h1 {
    background-color: white;
    font-size: 3.4rem;
    font-family: "KGHAPPY";
    font-weight: 400;
    line-height: 4.76rem;
    padding: 1.5rem;
}

section.uno {
    background-image: url(../Images/Hero-Image-1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* ---Header--- */

header {
    position: fixed;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 2rem 1.5rem 0 1.5rem;
}

.logo {
    width: 3.8rem;
}

.options {
    display: flex;
    align-items: center;
    height: 5rem;
    gap: .2rem;
}

.options >
* {
    cursor: pointer;
}

.header-btn {
    background-color: black;
    color: white;
    height: 100%;
    padding: 1.2rem 1rem;
    display: flex;
    align-items: center;
    gap: .8rem;
    transition: background .25s ease;
}

.header-btn:hover {
    background-color: var(--main-clr);
}

.logo 
img {
    width: 100%;
}

.list {
    background-color: var(--main-clr);
    width: 5rem;
    height: 5rem;
    padding: .9rem 0;
    transition: all .25s ease;
}

.list 
div {
    width: 2.3rem;
    height: .4rem;
    background-color: white;
    margin: .5rem auto;
    transition: inherit;
}

.list:hover {
    background-color: #000;
}

.list:hover >
.line-top {
    transform: translateY(-.25rem);
}

.list:hover >
.line-bottom {
    transform: translateY(.25rem);
}

.hidden {
    display: none;
}

/* --Hero-- */

.hero {
    padding-top: 14rem;
    text-align: center;
    font-size: 1.6rem;
}

.hero > 
* {
    margin: 0 auto;
}

.hero
h1 {
    width: 28rem;
    margin-bottom: 3.4rem;
}

.hero-btn {
    width: 200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(5, 6rem);
    gap: .5rem;
}

.hero-btn > 
* {
    cursor: pointer;
    background-color: var(--main-clr);
    color: white;
    padding: 1.8rem 0;
    transition: background .25s ease;
}

.hero-btn > 
*:hover {
    background-color: #000;
}

/* -*-*-*-*- DUE -*-*-*-*- */

.due {
    padding: 0 1.5rem;
    text-align: center;
}

#category-list {
    background-color: black;
    color: white;
    font-family: KGsolid;
    width: 100%;
}